.prev-next {
  font-family: sans-serif;
  background-color: #550e9c;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  position: absolute; /* Ensures it covers the entire page */
  top: 0;
  left: 0;
}

.steps {
  width: 600px;
  background-color: #f7f7f7;
  border-radius: 7px;
  padding: 25px 100px;
  margin: 90px auto;
}

.numbers {
  display: flex;
  justify-content: space-between;
}

.numbers .active {
  background-color: #7950f2;
  color: #fff;
}

.numbers > div {
  height: 40px;
  aspect-ratio: 1;
  background-color: #e7e7e7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.message {
  text-align: center;
  font-size: 20px;
  margin: 30px;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  background-color: #7950f2;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: bold;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 40px;
  color: inherit;
}

.close:hover {
  color: #7950f2;
}
